In [108]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [109]:
df = pd.read_csv('realest.csv')

In [110]:
summary_dict = {}

In [1]:
summary_dict['statistics'] = dict(df[(df['Bedroom'] ==2) | (df['Bedroom'] ==4)]['Tax'].describe()[['mean', 'std']])

NameError: name 'df' is not defined

In [32]:
summary_dict['data_frame'] = df[df['Space']>800]sort_values(by=['Price'], ascending=False)

In [33]:
summary_dict

{'statistics': {'mean': 827.0294117647059,
  'std': 411.39195714746177,
  'min': 418.0,
  'max': 2711.0,
  'median': 721.5},
 'data_frame':      Price  Bedroom   Space  Room   Lot     Tax  Bathroom  Garage  Condition
 114   90.0      8.0  2293.0  12.0  50.0  1181.0       3.0     2.0        0.0
 140   88.0      7.0  2277.0  12.0  50.0  1248.0       3.0     2.0        0.0
 88    88.0      8.0  2228.0  12.0  50.0  1208.0       3.0     2.0        0.0
 36    88.0      8.0  2278.0  12.0  50.0  1183.0       3.0     2.0        0.0
 62    85.0      7.0  2295.0  12.0  50.0  1233.0       3.0     2.0        0.0
 ..     ...      ...     ...   ...   ...     ...       ...     ...        ...
 45    35.0      5.0  1142.0   7.0  25.0   543.0       1.5     0.0        0.0
 19    35.0      4.0  1137.0   7.0  25.0   561.0       1.5     0.0        0.0
 97    34.0      4.0  1087.0   7.0  25.0   584.0       1.5     0.0        0.0
 71    34.0      4.0  1095.0   7.0  25.0   530.0       1.5     0.0        0.0
 149   32.0      4.0  1065.0   7.0  25.0   492.0       1.5     0.0        0.0

 [110 rows x 9 columns]}

In [48]:
summary_dict['number_of_observations'] = len(df[df['Lot'] >= df['Lot'].describe()[['75%']][0]])

In [49]:
summary_dict

{'statistics': {'mean': 827.0294117647059,
  'std': 411.39195714746177,
  'min': 418.0,
  'max': 2711.0,
  'median': 721.5},
 'data_frame':      Price  Bedroom   Space  Room   Lot     Tax  Bathroom  Garage  Condition
 114   90.0      8.0  2293.0  12.0  50.0  1181.0       3.0     2.0        0.0
 140   88.0      7.0  2277.0  12.0  50.0  1248.0       3.0     2.0        0.0
 88    88.0      8.0  2228.0  12.0  50.0  1208.0       3.0     2.0        0.0
 36    88.0      8.0  2278.0  12.0  50.0  1183.0       3.0     2.0        0.0
 62    85.0      7.0  2295.0  12.0  50.0  1233.0       3.0     2.0        0.0
 ..     ...      ...     ...   ...   ...     ...       ...     ...        ...
 45    35.0      5.0  1142.0   7.0  25.0   543.0       1.5     0.0        0.0
 19    35.0      4.0  1137.0   7.0  25.0   561.0       1.5     0.0        0.0
 97    34.0      4.0  1087.0   7.0  25.0   584.0       1.5     0.0        0.0
 71    34.0      4.0  1095.0   7.0  25.0   530.0       1.5     0.0        0.0
 149   32.0      4.0  1065.0   7.0  25.0   492.0       1.5     0.0        0.0

 [110 rows x 9 columns],
 'number_of_observations': 39}

In [121]:
summary_dict['data_frame'] = df[df['Space']>800].sort_values(by=['Price'], ascending=False, inplace = True)

<ipython-input-121-9ae30e77e9bf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  summary_dict['data_frame'] = df[df['Space']>800].sort_values(by=['Price'], ascending=False, inplace = True)

In [120]:
summary_dict['data_frame']

     Price  Bedroom   Space  Room   Lot     Tax  Bathroom  Garage  Condition
114   90.0      8.0  2293.0  12.0  50.0  1181.0       3.0     2.0        0.0
140   88.0      7.0  2277.0  12.0  50.0  1248.0       3.0     2.0        0.0
36    88.0      8.0  2278.0  12.0  50.0  1183.0       3.0     2.0        0.0
88    88.0      8.0  2228.0  12.0  50.0  1208.0       3.0     2.0        0.0
62    85.0      7.0  2295.0  12.0  50.0  1233.0       3.0     2.0        0.0
..     ...      ...     ...   ...   ...     ...       ...     ...        ...
45    35.0      5.0  1142.0   7.0  25.0   543.0       1.5     0.0        0.0
19    35.0      4.0  1137.0   7.0  25.0   561.0       1.5     0.0        0.0
97    34.0      4.0  1087.0   7.0  25.0   584.0       1.5     0.0        0.0
71    34.0      4.0  1095.0   7.0  25.0   530.0       1.5     0.0        0.0
149   32.0      4.0  1065.0   7.0  25.0   492.0       1.5     0.0        0.0

[110 rows x 9 columns]

In [55]:
df.isnull().sum()

Price         1
Bedroom       1
Space        11
Room          1
Lot          11
Tax          10
Bathroom      1
Garage        1
Condition     1
dtype: int64

In [56]:
df.dropna()

     Price  Bedroom   Space  Room   Lot     Tax  Bathroom  Garage  Condition
0     53.0      2.0   967.0   5.0  39.0   652.0       1.5     0.0        0.0
1     55.0      2.0   815.0   5.0  33.0  1000.0       1.0     2.0        1.0
2     56.0      3.0   900.0   5.0  35.0   897.0       1.5     1.0        0.0
3     58.0      3.0  1007.0   6.0  24.0   964.0       1.5     2.0        0.0
4     64.0      3.0  1100.0   7.0  50.0  1099.0       1.5     1.5        0.0
..     ...      ...     ...   ...   ...     ...       ...     ...        ...
149   32.0      4.0  1065.0   7.0  25.0   492.0       1.5     0.0        0.0
151   42.0      3.0   585.0   5.0  50.0   713.0       1.0     0.0        0.0
153   43.0      2.0   593.0   4.0  30.0   465.0       2.0     1.0        0.0
154   53.0      3.0   716.0   6.0  30.0   585.0       1.0     2.0        1.0
155   62.0      4.0   951.0   7.0  30.0   895.0       2.0     1.0        0.0

[128 rows x 9 columns]

In [57]:
LinReg = LinearRegression(normalize = True)

In [70]:
df.dropna(inplace = True)

In [71]:
Y = df['Price']

In [72]:
X = df.loc[:, df.columns != 'Price']

In [74]:
LinReg.fit(X,Y)

LinearRegression(normalize=True)

In [104]:
intercept = LinReg.intercept_

In [105]:
intercept

19.993467728068673

In [100]:
coef = list(LinReg.coef_)

In [2]:
LinReg.predict([[3.0, 1500.0, 8.0, 40.0, 1000.0, 2.0, 1.0, 0.0]])[0]

NameError: name 'LinReg' is not defined

In [93]:
model_parameters = {}

In [92]:
X.columns

Index(['Bedroom', 'Space', 'Room', 'Lot', 'Tax', 'Bathroom', 'Garage',
       'Condition'],
      dtype='object')

In [106]:
for key in list(X.columns): 
    for value in list(LinReg.coef_): 
        model_parameters [key] = value 
        list(LinReg.coef_).remove(value) 
        break

In [103]:
model_parameters

{'Bedroom': -3.1602387359606423,
 'Space': 0.00966322779633483,
 'Room': 1.6889511073196983,
 'Lot': 0.23621323117136941,
 'Tax': 0.004412718519149718,
 'Bathroom': 6.375785992212339,
 'Garage': 4.144757426848785,
 'Condition': 1.8357953743202908}

In [ ]:
regression_dict['model_parameters'] =